/*Imagen y texto del primer article */
#lg1{
    display: flex;
    position: absolute;
    width: 40vw;
    margin-top: 16vw;
    margin-left: 2vw;
}
#sp1{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 24vw;
    margin-left: 44.5vw;
    width: 43.8vw;
    padding: 3.5vw;
    border-color: red 3px;
    background-color: hsla(0, 0%, 0%, 0.57);
    line-height: 1.81vw;
}

/*Imagen y texto del segundo article*/
#sp2{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 18vw;
    margin-left: 28.1vw;
    width: 43.8vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(300, 23%, 42%, 0.57);
    border: rgb(139, 52, 222) solid 0.5vw;
    line-height: 1.81vw;
}

/*Primer botón saber más*/
#more1{
    display: block;
    position: absolute;
    color: white;
    background-color: red;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 65vw;
    top: 41.5vw;
}

#more1 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more1 a:hover{
    padding: 1.1vw;
    color: red;
    background-color: white;
    text-decoration: none;
}

/*Segundo botón saber más*/
#more2{
    display: block;
    position: absolute;
    color: white;
    background-color: rgb(139, 52, 222);
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 100vw;
}

#more2 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more2 a:hover{
    padding: 1.1vw;
    color: rgb(139, 52, 222);
    background-color: white;
    text-decoration: none;
}

#sp3{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 17vw;
    margin-left: 28.1vw;
    width: 43.8vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(180, 1%, 54%, 0.8);
    border: white solid 0.5vw;
    line-height: 1.81vw;
}

/*Tercer botón saber más*/
#more3{
    display: block;
    position: absolute;
    color: red;
    background-color: white;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 157vw;
}

#more3 a{
    display: block;
    color: red;
    text-decoration: none;
}

#more3 a:hover{
    padding: 1.1vw;
    color: white;
    background-color: red;
    text-decoration: none;
}

/*Banner de fondo*/
.banner1{
    position: relative;
}

#banner1{
    width: 100%;
}

/*Separadro de contenido*/
#separador1{
    background-color: red;
    margin-top: -0.7vw;
    height: 3vw;
}

.LogoMario {
    width: 2vw;
    height: 2vw;
}

/*CSS Tamaño móvil*/
@media screen and (max-width: 428px) {
    /*Imagen y texto del primer article */
    #lg1{
        display: none;
    }
    /*Texto del primero bloque*/
    #sp1{
        display: flex;
        position: absolute;
        color: white;
        font-size: 3.5vw;
        text-align: left;
        margin-top: 2vw;
        margin-left: 12vw;
        width: 70vw;
        padding: 3.5vw;
        background-color: hsla(0, 0%, 0%, 0.57);
        line-height: 3.2vw;
    }
    /*Imagen y texto del segundo article*/
    #sp2{
        display: flex;
        position: absolute;
        color: white;
        font-size: 3.5vw;
        text-align: left;
        margin-top: 2vw;
        margin-left: 12vw;
        width: 72.2vw;
        padding: 2vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: hsla(300, 23%, 42%, 0.57);
        border: rgb(139, 52, 222) solid 0.5vw;
        line-height: 3.2vw;
    }
    #more1{
        display: block;
        position: absolute;
        border: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        left: 38vw;
        top: 27vh;
        font-size: 4vw;
        width: 25vw;
        height: 4vh;
    }
    #more1 a{
        display: block;
        color: white;
        text-decoration: none;
    }
    
    #more1 a:hover{
        color: red;
        background-color: white;
        font-size: 3.7vw;
        width: 19.5vw;
    }
    /*Segundo botón saber más*/
    #more2{
        display: block;
        position: absolute;
        color: white;
        background-color: rgb(139, 52, 222);
        font-size: 3.7vw;
        width: 25vw;
        height: 4vh;
        border: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        left: 38vw;
        top: 78vh;
    }

    #more2 a:hover{
        color: rgb(139, 52, 222);
        background-color: white;
        text-decoration: none;
        width: 19.5vw;
        height: 2vh;
    }
/*Texto del tercer article*/
    #sp3{
        display: flex;
        position: absolute;
        color: white;
        font-size: 3.7vw;
        text-align: left;
        margin-top: 2vw;
        margin-left: 10vw;
        width: 76vw;
        padding: 2vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: hsla(180, 1%, 54%, 0.8);
        border: white solid 0.5vw;
        line-height: 3.7vw;
    }
    /*Tercer botón saber más*/
    #more3{
        display: block;
        position: absolute;
        color: red;
        background-color: white;
        font-size: 3.3vw;
        width: 25vw;
        height: 4vh;
        border: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        left: 38vw;
        top: 110.6vh;
    }
    #more3 a:hover{
        color: white;
        background-color: red;
        text-decoration: none;
        width: 19.5vw;
        height: 2vh;
    }
    #separador1{
        background-color: red;
        margin-top: -1vw;
        height: 4vw;
    }
    .dropdownMario{
        display: none;
    }

}